/*
* Tom's Material Monochrome Theme - video section extension v0.1
* Copyright 2016, Fenghao Guo
* twitter: @gywghhb
* Under no license,  use under author's consent.
* D/3/2016
*/

/* block style */
.block-media-left, .block-media-right {
    height: 400px;
    width: 100%;

    display: flex;
    align-items: center;
}

/* block with media one the left */
.block-media-left .block-media {
    float: left;
    width: 420px;
    height: 315px;
    margin: 0;
}
.block-media-left .block-intro {
    text-align: left;
    float: right;
    width: 45%;
}

/* block with media one the right */
.block-media-right .block-media {
    float: right;
    width: 420px;
    height: 315px;
    margin: 0;
}
.block-media-right .block-intro {
    float: left;
    text-align: right;
    width: 45%;
}

